body{
    font-family: sans-serif;
    background-image: url(Banco.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

p{
    color:aliceblue
}

#nng{
    padding-left: 30%;
    padding-right: 35%;
    padding-top: 13%;
    text-align: center;

}
#ing{
    background: rgba(0,0,0,.5);
    padding-left: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-style: solid;
}

#xng{
    padding-left: 1%;
}